
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/616836/pexels-photo-616836.jpeg?h=350&auto=compress&cs=tinysrgb');">
	<div class="banner-content">
		<h1>Vodka Cocktails</h1>
		<p>Add your own coctails</p>
		<%= link_to new_cocktail_path do %>
		<p class="plus"> <%= icon('fas', 'plus') %> <p>
		<% end %>
	</div>
</div>

<div class="container">
	<div class="row">

		<% @cocktails.each do |cocktail| %>



		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.image %>);">
				<div class="card-category"><%= cocktail.name %>
				</div>
				<%= link_to "", cocktail_path(cocktail), {class: 'card-link'} %>
			</div>

		</div>


		<% end %>

	</div>
</div>















